{% extends "tds_site/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Link Preference detail</legend>
                    <p> <b>Landing page :</b>{{ linkpref.landing_page }} </p>
                    <p> <b>Country:</b> {{ linkpref.country }} </p>
                    <p> <b>Weight:</b> {{ linkpref.weight }} </p>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'linkpref-update' linkpref.pk %}">Edit Preferences</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'linkpref-delete' linkpref.pk %}">Delete url</a>
            </fieldset>
        </form>
    </div>
{% endblock %}